*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Roboto sams-serif;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.h{
    /* border:1px solid red; */
    background-color: #1f2937;
}

.header{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: #1f2937;
    width: 80%;
    margin: auto;
    gap: 50px;
    padding: 46px 6px;

    
}
h2{
    font-size: 48px;
    color:  #f9faf8 ;
    font-weight: 500;
}

.webname p{
    font-size: 18px;
    color: #e5e7eb;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 0;
}
.links{
    display: flex;
    gap: 18px;
}
.logo{
    font-size: 24px;
    color:  #f9faf8 ;
    font-weight: 900;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
}

.top{
    display:flex;
    justify-content: space-between;
    gap:20%;
    
}

img{
    
    max-height: 100%;
    max-width:80%;
    /* width: 150px; */
    /* flex: 2; */
    transform: rotate(90deg);
}
.image{
    /* overflow:visible; */
    flex:1;
    
}

.webname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    flex: 2 ;
}

.button{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 20px;
    border-radius: 8px;
}

.mid{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding-top: 50px; */
    gap: 30px;
    justify-content: center;
    /* height: 80px; */
}

h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.pic{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 5%;
}

.blank{
    padding: 80px;
    border: 2px solid #3882f6;
    /* display: inline; */
    border-radius: 10px; 
    
    
}

.con{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.con p{
    text-align: center;
    width: 160px;
}